* {
    margin: 0;
    padding: 0;
}

body {
    width: auto;
    height: auto;
    overflow-x: hidden;
    /* 100 - 800 */
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 245, 239);
}

/* ==================================== index.php ===================================== */

.container {
    max-width: 1250px;
    margin: 30px auto 50px auto;
    height: auto;
    display: flex;
}

.left {
    flex: 1;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    animation: slideInFromLeft 1s ease-in;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.left img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

.right {
    flex: 1.7;
    width: auto;
    height: auto;
    padding: 40px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: white;
    animation: slideInFromRight 1s ease-in;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.right h1 {
    font-weight: 900;
    font-size: 40px;
}

.right i {
    font-size: 25px;
}

.right h2 {
    padding-top: 20px;
    font-weight: 500;
    display: inline-block;
    text-transform: uppercase;
}

.right p {
    padding-top: 20px;
    font-size: 20px;
    padding-bottom: 10px;
    color: rgb(102, 102, 102);
}

.right ul {
    padding: 10px 10px 0px 18px;
    list-style-type: none;
}

.right li {
    padding: 15px 0px 5px 0px;
}

.right li i {
    font-size: 18px;
}

.menu {
    max-width: 1230px;
    height: auto;
    margin: 10px auto 50px auto;
    border-radius: 30px;
    display: flex;
    animation: slideInFromBottom 1s ease-in;
}

.menu i {
    font-size: 30px;
}

.page1, .page2, .page3, .page4, .page5 {
    border-radius: 20px;
    flex: 1;
    width: auto;
    height: auto;
    padding: 30px;
    margin: 10px;
    text-align: center;
    background-color: white;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.page1:hover {
    background-color: rgb(250, 214, 114);
    transition: all 0.6s ease-in-out;
}

.page2:hover {
    background-color: rgb(17, 219, 95);
    transition: all 0.6s ease-in-out;
}

.page3:hover {
    background-color: rgb(7, 156, 243);
    transition: all 0.6s ease-in-out;
}

.page4:hover {
    background-color: rgb(207, 114, 250);
    transition: all 0.6s ease-in-out;
}

.page5:hover {
    background-color: rgb(250, 114, 148);
    transition: all 0.6s ease-in-out;
}

/* ==================================== page heros ===================================== */

.career-hero,
.educ-hero,
.skill-hero,
.hob-hero,
.awards-hero {
    width: auto;
    height: 100%;
    padding: 20px 20px 50px 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(250, 214, 114);
    animation: slideInFromTop 0.6s ease-in-out;
}

.career-hero i, 
.educ-hero i,
.skill-hero i,
.hob-hero i,
.awards-hero i {
    font-size: 25px;
}

.career-hero a, 
.educ-hero a,
.skill-hero a,
.hob-hero a,
.awards-hero a {
    text-decoration-line: none;
    text-decoration-style: none;
    color: black;
}

.career-hero h1,
.educ-hero h1,
.skill-hero h1,
.hob-hero h1,
.awards-hero h1 {
    font-size: 60px;
    padding-top: 40px;
    font-weight: 00;
    text-align: center;
}

.educ-hero {
    background-color: rgb(17, 219, 95);
}

.skill-hero {
    background-color: rgb(7, 156, 243);
}

.hob-hero {
    background-color: rgb(207, 114, 250);
}

.awards-hero {
    background-color: rgb(250, 114, 148);
}

/* ==================================== career.php ===================================== */

.career-container {
    width: 80%;
    height: auto;
    padding: 30px;
    margin: 30px auto 30px auto;
}

.career-container i{
    font-size: 28px;
    font-weight: 600;
}

.career-container b,
.career-container i {
    font-weight: 600;
    color: rgb(236, 173, 0);
}

.career-container li {
    display: inline-block;
    text-align: justify;
    font-size: 28px;
    font-weight: 300;
    list-style-type: none;
    padding: 20px 10px 30px 10px;
}

/* ==================================== educ.php ===================================== */

.educ-container {
    width: 75%;
    height: auto;
    margin: 30px auto 30px auto;    
}

.educ-each {
    width: auto;
    height: auto;
    display: flex;
    padding: 20px;
}

.educ-left {
    flex: 1;
}

.educ-left i {
    padding: 0px 5px 0px 5px;
    color: rgb(20, 207, 92);
}

.educ-left h1 {
    padding: 3px 0px 0px 10%;
    font-size: 25px;
    color: rgb(99, 99, 99);
    font-weight: 500;
}

.educ-right {
    flex: 2;
}

.educ-right h1 {
    font-weight: 600;
    color: rgb(20, 207, 92);
}

.educ-right h2 {
    padding: 15px 0px 5px 0px;
    font-size: 22px;
    color: rgb(136, 136, 136);
    font-weight: 400;
}

/* ==================================== skills.php ===================================== */

.skills-container {
    width: 70%;
    height: auto;
    padding: 10px;
    margin: 30px auto 20px auto;
}

.prog {
    width: auto;
    height: auto;
    padding: 20px;
    display: flex;
    margin: 10px auto 30px auto;
    border-radius: 30px;
    animation: slideInFromBottom 1s ease-in;
    background-color: rgb(168, 227, 255);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.prog-left {
    flex: 1;
    padding: 20px;
}

.prog-left i {
    color: rgb(20, 76, 161);
}

.prog-left h1 {
    font-weight: 500;   
}

.prog-right {
    flex: 2;
    padding: 20px;
    text-align: right;
}

.prog-right h2 {
    color: rgb(20, 76, 161);
    font-size: 40px;
    display: inline-block;
}

/* ==================================== animations ===================================== */

.hob-container {
    width: 70%;
    height: auto;
    padding: 20px 20px 10px 20px;
    margin: 30px auto 30px auto;
    text-align: center;
    animation: slideInFromBottom 1s ease-in;
}

.hob1, .hob2, .hob3 {
    width: auto;
    height: auto;
    padding: 35px;
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 30px;
}

.hob1 i, .hob2 i, .hob3 i {
    padding-right: 20px;
}

.hob1 h1, .hob2 h1, .hob3 h1 {
    font-weight: 600;
    font-size: 35px;
}

.hob1 {
    color: rgb(0, 65, 65);
    background-color: rgb(175, 210, 255);
}

.hob2 {
    color: rgb(30, 82, 0);
    background-color: rgb(204, 255, 175);
}

.hob3 {
    color: rgb(83, 61, 0);
    background-color: rgb(255, 234, 175);
}

/* ==================================== animations ===================================== */

.awards-container {
    width: 80%;
    height: auto;
    padding: 0px 10px 0px 10px;
    margin: 30px auto 30px auto;
}

.awards-each {
    width: auto;
    height: auto;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 30px;
}

.awards-each i {
    color: rgb(250, 114, 148);
    padding-right: 10px;
}

.awards-each h1 {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

.awards-each img {
    width: 80%;
    margin: 10px auto 10px auto;
    display: block;
    height: auto;
    border-radius: 10px;
    border: 2px solid rgb(250, 114, 148);
}

/* ==================================== animations ===================================== */

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* ==================================== reponsiveness ===================================== */

@media only screen and (max-width: 1000px) {
    .container {
        margin: 0px 0 10px 0;
        flex-direction: column;
        text-align: center;
    }
    .left img {
        box-shadow: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .right {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .right h1 {
        font-size: 30px;
    }
    .right h2 {
        font-size: 15px;
    }
    .right p {
        font-size: 14px;
    }
    .menu {
        flex-direction: column;
        margin: 0 0 30px 0;
    }
}